# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Logs & DB
*.log
**/logs/
backend/carbon.db

# Environment variables
.env
*.env
backend/,env

# IDE / OS
.vscode/
.DS_Store
Thumbs.db

# Large zip archives
*.zip
